#menu-principal{
    height: 100vh;
    width: 30vh;
    background-color: #3498db;
}

#menu-principal ul {
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 85vh;
    align-items: center;
    list-style: none;
    margin: 0;
}

#menu-principal ul a {
    color: white;
    list-style: none;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 30vh;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



#titulo-principal {
    color: white;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#titulo-principal h1 {
    margin: 0;
    text-align: center;
}

#activado {
    background-color: rgba(0, 0, 0, 0.25);
}

a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}