.chat-container {
    height: 70vh;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.user {
    background: #3498db;
    align-self: flex-end;
    text-align: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: white;
}

.bot {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: flex-start;
}

#inputArea {
    display: flex;
}

#userInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#sendButton {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

main h1 {
    color: #3498db;
}